<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rishav.quizearn">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <activity android:name=".Spinner"
            android:theme="@style/AppTheme.noActionBar"></activity>
        <activity
            android:name=".Result"
            android:theme="@style/AppTheme.quizResuldDark"
            ></activity>
        <activity
            android:name=".Quiz"
            android:theme="@style/AppTheme.quizResuldDark"></activity>
        <activity
            android:name=".Dashboard"
            android:theme="@style/AppTheme.noActionBar"></activity>
        <activity
            android:name=".Singup"
            android:label="SingUp" />
        <activity
            android:name=".Login"
            android:label="Login" />
        <activity
            android:name=".Settings"
            android:label="Settings" />
        <activity
            android:name=".AboutUs"
            android:label="AboutUs" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.noActionBar2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>